body {
  background-color: #ffffff;
  color: #dc6363;
  text-align: center;
  /*padding: 5px;*/
}

.grid {
  /*height: 1000px;*/
  display: grid;
  /*grid-template-rows: 5% 60% 10% 20% 5%;*/
  grid-template-rows: 60px 960px 160px 320px 60px; /*1560px total*/
  /*grid-template-columns: 33% 33% 33%;*/
  grid-template-columns: 1fr 1fr 1fr;
  /*grid-template: 5% 60% 10% 20% 5% / 33% 33% 33%*/
  grid-column-gap: 20px;
}

.dog{
  width: 657px;
  height: 599px;
  object-fit: contain;
}

.a {
  background-color: #ffffff;
  color: #dc6363;
  grid-column: 1 / span 4;
  padding-top: 10px;
}

.b {
  background-color: #dc6363;
  color: #ffffff;
  /*width: 1086px;
  height: 138px;*/
  font-family: Poppins;
  font-size: 84px;
  font-weight: 300;
  letter-spacing: 3.7px;
  /*text-align: left;*/
  color: #ffffff;
  grid-column: 1 / span 4;
}


.c {
  background-color: #f0f0f0;
  color: #2f2d2d;
  /*width: 638px;
  height: 87px;*/
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.5px;
  /*text-align: left;*/
  grid-column: 1 / span 4;
}

.welcome {
  grid-column: 2/ span 1;
}

.info {
  background-color: #ffffff;
  color: #ffffff;
  /*grid-template-columns: 33% 33% 33%;*/
  /*grid-column-gap: 20px;*/
  /*grid-column: 1 / span 1;*/
}

.box {
    background-color: #2f2f2f;
    color: #ffffff;
    /*width: 470px;
    height: 96px;*/
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
    grid-column: 1 / span 1;
}


.g {
  background-color: #dc6363;
  color: #ffffff;
  /*width: 112px;
  height: 23px;*/
  font-family: Poppins;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.4px;
  /*text-align: left;*/
  grid-column: 1 / span 4;
}
