body {
  background-color: #ffffff;
  color: #dc6363;
  text-align: center;
  /*padding: 5px;*/
}

.grid {
  display: grid;
  /*grid-template-rows: 5% 60% 10% 20% 5%;*/
  grid-template-rows: 60px 960px 160px 320px 60px; /*1560px total*/
  /*grid-template-columns: 33% 33% 33%;*/
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  /*grid-template: 5% 60% 10% 20% 5% / 33% 33% 33%*/
  grid-column-gap: 20px;
}

.dog{
  width: 657px;
  height: 599px;
  padding-left: 150px;
  object-fit: contain;
}

.a {
  background-color: #ffffff;
  color: #dc6363;
  grid-column: 1 / 7;
  padding-top: 10px;
}

.b {
  background-color: #dc6363;
  color: #ffffff;
  /*width: 1086px;
  height: 138px;*/
  font-family: Poppins;
  font-size: 84px;
  font-weight: 300;
  letter-spacing: 3.7px;
  /*text-align: left;*/
  color: #ffffff;
  grid-column: 1 / span 6;
}


.c {
  background-color: #f0f0f0;
  grid-column: 1 / span 6;
}

.welcome {
  width: 50%;
  margin:auto;
  padding: auto;
  color: #2f2d2d;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  letter-spacing: 0.5px;
  padding-top: 30px;
}

.info {
  background-color: #ffffff;
  color: #ffffff;
}

.box {
    background-color: #2f2f2f;
    color: #ffffff;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
    grid-row: 4 / span 1;
    grid-column: 1 / span 2;
}

.d {
  grid-column: 1 / span 2;
}

.e{
  grid-column: 3 / span 2;
}

.f{
  grid-column: 5 / span 2;
}


.g {
  background-color: #dc6363;
  color: #ffffff;
  /*width: 112px;
  height: 23px;*/
  font-family: Poppins;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.4px;
  /*text-align: left;*/
  grid-column: 1 / span 6;
  padding-top: 20px;
}
