body{
    background-color: #f4f4f4;
}

#app{
  border: solid 2px #444;
  width: 90%;
    margin:auto;
/*   height: auto; */
}

.headline{
  text-align:center;
}
.grid {
  display: grid;
/*   border: 2px blue solid; */
  height: 3000px;
  width: 900px;
  
/*   row/column */
  grid-template: repeat(30, 1fr) / repeat(12, 1fr);
/*   grid-gap: 5px; */
}

.box {
  background-color: transparent;
  color: black;
    font-family: 'Playfair Display', serif;
  
}

img {
   max-width:100%;
  
}

.title{
   font-weight: 700;
  font-size: 150%;
  text-decoration: underline;
}

/* repurposed living */
.a {
  grid-row-start: 1;
  grid-row-end:4;
  grid-column-start: 3;
  grid-column-end: 13;
}

.b {
  grid-row-start: 2;
  grid-row-end: 3;
    grid-column-start: 2;
  grid-column-end: 4;
  font-weight: 700;
  font-size: 150%;
  text-decoration: underline;
}
.c {
  grid-row-start: 4;
  grid-row-end: 5;
      grid-column-start: 1;
  grid-column-end: 4;
}
/* end repurposed living */

/* set 2 angles */
.d {
  grid-row-start:5;
  grid-row-end: 8;
      grid-column-start:1;
  grid-column-end: 7;
}

.e {
  grid-row-start: 7;
  grid-row-end: 9;
      grid-column-start:6;
  grid-column-end: 10;
/*   should this be a class title? */
    font-weight: 700;
  font-size: 150%;
  text-decoration: underline;
}

.f {
  grid-row-start: 9;
  grid-row-end: 10;
      grid-column-start:7;
  grid-column-end: 10;
}

/* 3-pattern play */

.g {
  grid-row-start: 11;
  grid-row-end: 14;
      grid-column-start:3;
  grid-column-end: 13;
}


.h {
  grid-row-start: 12;
  grid-row-end: 14;
  grid-column-start: 2;
  grid-column-end: 4;
    font-weight: 700;
  font-size: 150%;
  text-decoration: underline;
}
  

.i {
  grid-row-start: 13;
  grid-row-end: 14;
         grid-column-start: 1;
  grid-column-end: 4;
}

/* set 4 */

.j{
    grid-row-start: 15;
  grid-row-end: 18;
  grid-column-start: 1;
  grid-column-end: 7;
}

.k{
    grid-row-start: 17;
  grid-row-end: 19;
  grid-column-start: 6;
  grid-column-end: 8;
     font-weight: 700;
  font-size: 150%;
  text-decoration: underline;
}

.l{
    grid-row-start: 18;
  grid-row-end: 20;
  grid-column-start: 7;
  grid-column-end: 9;
}

/* set 5 */
.m{
    grid-row-start: 21;
  grid-row-end: 24;
  grid-column-start: 3;
  grid-column-end: 13;
}

.n{
    grid-row-start: 22;
  grid-row-end: 23;
  grid-column-start: 2;
  grid-column-end: 5;
     font-weight: 700;
  font-size: 150%;
  text-decoration: underline;
}

.o{
    grid-row-start: 24;
  grid-row-end: 25;
  grid-column-start: 2;
  grid-column-end: 5;
}