body {
  background-color: #ffffff;
  color: #db6363;
  text-align: center;
}


.grid {
  display: grid;
  grid-template-rows: 5% 40% 15% 35% 5%;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
}


header {
  background-color: #ffffff;
  color: #dc6363;
  padding-top: 10px;
  grid-column: 1 / -1;

}

.banner {
  background-color: #db6363;
  color: #ffffff;
  font-family: Poppins;
  font-size: 84px;
  font-weight: 300;
  letter-spacing: 3.7px;
  color: #ffffff;
  grid-column: 1 / -1;
}

img {
  max-width: 100%;
}

.about {
  background-color: #f0f0f0;
  grid-column: 1 / -1;
  padding-bottom: 20px;
}

.text {
  width: 50%;
  margin: auto;
  padding: auto;
  color: #2f2d2d;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  letter-spacing: 0.5px;
  padding-top: 30px;
}

.box {
  width: auto;
  background-color: #2f2f2f;
  color: #ffffff;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  grid-row: 4 / span 1;
}

.address {
  grid-column: 1 / span 1;
}

.hours{
  grid-column: 2 / span 1;
}

.call-us{
  grid-column: 3 / span 1;
}


footer {
  background-color: #db6363;
  color: #ffffff;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.4px;
  grid-column: 1 / -1;
}


@media(max-width:600px){

  .grid {
    display: grid;
    grid-template: 5% 40% 10% repeat(3, 15%) 5% / 100%;
    grid-row-gap: 20px;
  }

  img {
    max-width: 100%;
  }

  header {
    padding-top: 10px;
    margin-bottom: -20px;
  }

  .banner {
    margin-bottom: -20px;
    font-size: 20px;
    font-weight: 300;
    line-height: 2.75;
    letter-spacing: 1.9px;
  }

  .dog{
    width: 195px;
    height: 237px;
    padding-left: 50px;
  }

  .about {
    margin-bottom: -20px;
  }

  .text {
    width: 75%;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 14px;
    font-weight: 500;
  }

  .box {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.3px;
  }

  .address {
    grid-row: 4/ span 1;
    grid-column: 1 / span 1;
  }

  .hours{
    grid-row: 5/ span 1;
    grid-column: 1 / span 1;
  }

  .call-us{
    grid-row: 6/ span 1;
    grid-column: 1 / span 1;
  }

  footer {
    margin-top: -20px;
  }

}
